@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&family=Rubik+Bubbles&family=Rubik+Glitch&family=Roboto:wght@500&family=Rubik+Storm&display=swap');

.font-rbubbles {
  font-family: "Rubik Bubbles", system-ui;
}

.font-rglitch {
  font-family: "Rubik Glitch", system-ui;
}

.font-rstorm {
  font-family: "Rubik Storm", system-ui;
}

.font-roboto {
  font-family: "Roboto", system-ui;
}

.font-roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.font-pacifico {
  font-family: "Pacifico", cursive;
  font-optical-sizing: auto;
}

.font-caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
}