@import "./reset.css";
@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root-container,
#root {
  width: 100%;
  height: 100%;

  min-width: 100svw;
  min-height: 100svh;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
  overflow: hidden;
}