<!doctype html>
<html lang="pt-BR" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Sun - Personal</title>

    <link href="/css/globals.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="py-8 bg-gradient-to-br from-green-500 to-red-500 flex flex-col items-center">
    <slot />
  </body>
</html>
