---
import Header from "./header.res.js";
import Base from "./base.astro";
import { LINKED_IN, GITLAB, EMAIL } from "@/shared/contacts"

const { direction = "row" } = Astro.props
const flexDirection = "flex-" +(direction === "row" ? "row" : "col");
const itemsOrientation = "items-" +(direction === "row" ? "start" : "center");
---

<Base>
  <Header linkedin={LINKED_IN} gitlab={GITLAB} email={EMAIL} />

  <main class={`w-full h-full py-12 flex ${flexDirection} justify-center ${itemsOrientation} gap-5`} id="root-container">
    <slot />
  </main>
</Base>
