---
import Layout from "~/layout/layout.astro";
import Link from "~/custom/link.res.js";
---

<Layout direction="col">
  <section id="error-info" class="space-y-1/2 text-center">
    <h1 class="font-mono text-7xl font-bold text-error">Page Not Found</h1>
    <h2 class="text-2xl font-bold">
      Sorry, the page you requested could not be found.
    </h2>
    <p class="text-xl italic">
      If you think this is an error, please contact the site owner.
    </p>
  </section>

  <Link
    href="/"
    className="bg-gray-700 text-white hover:bg-black hover:text-white hover:no-underline hover:shadow-sm hover:shadow-gray-600 w-full text-center py-2 rounded-3xl max-w-xl transition-colors duration-700"
  >
      Go to Home
  </Link>
</Layout>
