---
import Layout from "~/layout/layout.astro";
import Quote from "~/quotes/quote.res.js";
import Link from "~/custom/link.res.js";

const quotes = [
  {
    quotes: [
      "If you correct your mind, the rest of your life will fall into place",
      "Nature does not hurry, yet everything is accomplished.",
    ],
    author: "Lao Tzu",
  },
  {
    quotes: [
      "Move swift as the Wind and closely-formed as the Wood. Attack like the Fire and be still as the Mountain.",
      "Attack is the secret of defense; defense is the planning of an attack.",
    ],
    author: "Sun Tzu",
  },
  {
    quotes: [
      "When it is obvious that the goals cannot be reached, don't adjust the goals; adjust the action steps.",

      "Everything has beauty, but not everyone sees it.",
    ],
    author: "Confucius",
  },
  {
    quotes: [
      "Any fool can know. The point is to understand.",
      "Life is like riding a bicycle. To keep your balance, you must keep moving.",
    ],
    author: "Albert Einstein"
  }
];
---

<Layout>
    <section class="h-fit bg-yellow-400 rounded-2xl shadow-lg p-6 max-w-md shadow-gray-600" id="about-me">
      <main class="p-6 rounded-2xl bg-gray-700 text-white">
        <h2 class="text-2xl font-bold">About Me</h2>
        <hr class="h-0.5 border-t-0 bg-white/10 mt-1 mb-2" />
        <p>
          Hello! I'm Pedro, but you can also call me Sun, a passionate backend developer from the vibrant country of Brazil. 
          With a love for efficient code and scalable solutions, I bring a touch of Brazilian 
          creativity to every project I work on. When I'm not coding, you can find me enjoying 
          a cup of coffee or exploring the beautiful beaches of Brazil.
        </p>
        <p>
          Studying independently since 2021, I entered
          <Link href="https://estacio.br/" type_="external">Estácio de Sá University</Link>
          in the end of 2023. I have experimented with some fields of study and my
          most liked area was back-end development. In 2024, I was hired by
          <Link href="https://nasajon.com.br" type_="external">Nasajon Sistemas LTDA,</Link>
          working with QA and Testing.
        </p>
        <p>
          For me, writing and mantaining the central core of an application is
          what makes me keep going forward, while also helping others in their
          production.
          I'm always focused on minimalism, having less moving parts. With that,
          it's possible to create big applications from the simplest mechanisms.
        </p>
      </main>
    </section>
    
    <section class="flex flex-col gap-y-10" id="quotes">
      <section class="flex flex-row p-1 px-8" id="my-quotes">
        <div class="bg-white p-2 w-56 h-56 rounded-full flex items-center justify-center" id="user-img">
           <img src="/images/me.jpg" alt="Me" class="w-full h-full rounded-full" />
        </div>
        <div class="flex grow flex-col items-center justify-center" id="user-quotes">
          <h1 class="font-caveat text-2xl font-bold text-accent">Backend Developer - Brasil</h1>
          <h2 class="font-pacifico text-2xl flex flex-col space-y-2 text-red-800">Simplicity is the key to success.</h2>
          <h2 class="font-pacifico text-2xl flex flex-col space-y-2 text-red-800">Follow your mind and the results will come.</h2>
        </div>
      </section>
    
      <section class="grid grid-cols-2 justify-center items-center gap-x-5 gap-y-2" id="author-quotes">
        {quotes.map((quote) => (
          <Quote {quote} />
        ))}
      </section>
    </section>
</Layout>
